<launch>
	<node pkg="fsm_visual_behavior" type="nodo_camera_filtered" name="filter_camera" output="screen"></node>
	<node pkg="cameras_cpp" type="nodo_rgbd_filter" name="publish_filter" output="screen"></node>
	<node pkg="cameras_cpp" type="nodo_rgbd_tf" name="public_tf_filter" output="screen"></node>
</launch>
